.headerDiv {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}
h2 {
  align-items: left;
  margin-left: 150px;
}

p {
  align-items: right;
  margin: 25px 150px 0 0;
}
.lineDiv {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}
